.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdc17d;
  padding: 16px 10vw;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-left > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-right > button {
  padding: 10px 15px;
  margin-left: 7px;
  border-radius: 3px;
}

.main-wrapper {
  padding: 20px 10vw;
}
.search-content-header {
  display: flex;
}

.search-content-header > h6 {
  font-weight: 300;
  margin-right: 6px;
  font-size: 1rem;
}
.top-titles {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.top-titles > h1 {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 56px;
  font-weight: 300;
}

.top-titles > h6 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}

.top-titles > input {
  outline: none;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 26px;
  margin-top: 80px;
}

.top-titles > input::placeholder {
  font-size: 20px;
}
