* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* declaring css variables */
:root {
  --main-color: #4c4c4c;
  --secondary-color: #f2f2f2;
  --accent-color: #ffc107;
  --danger-color: #ff5252;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --info-color: #2196f3;
}

/* Global styles */

/* Outlined Button */
.button-outlined {
  border: 1px solid black;
  color: var(--main-color);
  border-radius: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
  background-color: white;
}
.button-outlined:hover {
  background-color: black;
  color: var(--secondary-color);
}
/* -------------- */

/* Label */
.label-primary {
  font-size: 1rem;
  font-weight: 300;
}

/* Inputs */
.input-primary {
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  padding: 10px 15px;
  font-size: 1rem;
  outline: 1px solid transparent;
  transition: border-color 0.3s;
  font-weight: 400;
}

.input-primary:hover {
  border-color: var(--main-color);
}

.input-primary:focus {
  border-color: var(--main-color);
  outline: 1px solid var(--main-color);
}

/* toggle */
.toggle {
  cursor: pointer;
}
